<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>EMG Report Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="app.css">
  </head>

  <body>
    <div id="app">
      <!--
      <div>{{ forms.lu }}</div>
      -->
      <extremity id="cranial" title="Cranial Nerves" color="amber" :form.sync="forms.cn"></extremity>
      <extremity id="left-upper" title="Left Upper" color="cyan" :form.sync="forms.lu"></extremity>
      <extremity id="right-upper" title="Right Upper" color="red" :form.sync="forms.ru"></extremity>
      <extremity id="left-lower" title="Left Lower" color="purple" :form.sync="forms.ll"></extremity>
      <extremity id="right-lower" title="Right Lower" color="blue" :form.sync="forms.rl"></extremity>

      <section id="h-reflex" class="card green flex-row lighten-2">
        <div class="flex flex-row align-center white-text">
          <div class="title">H Reflex</div>
        </div>
      </section>

      <section id="rns" class="card deep-orange flex-row lighten-2 white-text">
        <div class="flex flex-row align-center white-text">
          <div class="title text-center">RNS Right</div>
        </div>
        <div class="flex flex-row align-center white-text">
          <div class="title text-center">RNS Left</div>
        </div>
      </section>

      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red modal-trigger" href="#modal-final">
          <i class="large material-icons">view_headline</i>
        </a>
        <ul>
          <li><a class="btn-floating red darken-4" v-on:click="clear()"><i class="material-icons">clear</i></a></li>
          <li><a class="btn-floating blue"><i class="material-icons">content_copy</i></a></li>
        </ul>
      </div>

      <div id="modal-final" class="modal">
        <div class="modal-content">
          <p>The final data</p>
          <p>{{ foo }}<p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
    </div>

    <script id="extremity-template" type="text/x-template">
      <section class="card flex-row lighten-2" :class="color">
        <div class="flex flex-row align-center white-text">
          <div class="title">{{ title }}</div>
        </div>
        <button class="cool-button" v-on:click="open()" v-if="!form.added">
          <i class="material-icons">add</i>
        </button>
        <button class="cool-button" v-if="form.added" v-on:click="open()">
          <i class="material-icons">edit</i>
        </button>
        <button class="cool-button" v-if="form.added" v-on:click="remove()">
          <i class="material-icons">clear</i>
        </button>
        <extremity-modal v-if="isOpen" :title="title" :form="form" v-on:update:form="update($event)" v-on:cancel="isOpen = false"v-on:modal="modal = $event"></extremity-modal>
      </section>
    </script>

    <script id="extremity-modal-template" type="text/x-template">
      <div class="modal">
        <div class="modal-content">
          <h4>{{ title }}</h4>
          <p>The form</p>
          <!--
          <p>Form {{ tmpForm }}</p>
          <input type="text" v-model="tmpForm.name" />
          -->
        </div>
        <div class="modal-footer">
          <button v-on:click="cancel()" class="waves-effect waves-green btn-flat">Cancel</button>
          <button v-on:click="save()" class="waves-effect waves-green btn-flat">Save</button>
        </div>
      </div>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script src="app.js"></script>
  </body>
</html>
